# https://editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 80
trim_trailing_whitespace = true

[*.{html,css,json}]
indent_size = 2

[COMMIT_EDITMSG]
max_line_length = 0
